<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>iolite-production</id>
			<username>!put user id here!</username>
			<password>!put password here!</password>
		</server>
		<server>
			<id>iolite-snapshots</id>
			<username>!put user id here!</username>
			<password>!put password here!</password>
		</server>
	</servers>
	<activeProfiles>
		<activeProfile>iolite</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>iolite</id>
			<repositories>
				<repository>
					<id>iolite-production</id>
					<name>IOLITE Production</name>
					<url>https://web.iolite.de/nexus/content/repositories/iolite-production/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iolite-snapshots</id>
					<name>IOLITE API Snapshots</name>
					<url>https://web.iolite.de/nexus/content/repositories/iolite-snapshots/</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>