<div class="example-container" >
	<h3>Requesting paths registered with FrontendAPI</h3>
	<div class="example-row" ng-controller="ExampleController1">
		
		<div class="example-title">Rooms</div>
		<div class="example-responsive-content" ng-repeat="room in rooms">
			<span ng-bind="room"></span>
		</div>
		
		<div class="example-title">Devices with ON/OFF property</div>
		<div class="example-responsive-content" ng-repeat="device in devices">
			<span ng-bind="device.name"></span>
		</div>
	</div>
	
	<h3>Using ModelAPI JS interface</h3>
	<div class="example-row" ng-controller="ExampleController2">
		
		<div class="example-title">ModelAPI Profiles</div>
		<div class="example-responsive-content" ng-bind="profileKeys">
		</div>
		
		<div class="example-title">Execute StorageAPI.loadInt action</div>
		<div class="example-responsive-content">
			StorageAPI.loadInt("test")= <span ng-bind="testValueLoadedFromStorageAPI"></span>
		</div>
		
		<div class="example-title">Query EnvironmentAPI with path "./locations" </div>
		<div class="example-responsive-content" ng-repeat="location in roomsQueredWithEnvironmentAPI">
			<span ng-bind="location.name"></span>
		</div>
		
		<div class="example-title">Subscribe EnvironmentAPI with path "./devices" </div>
		<div class="example-responsive-content">
			<pre ng-bind="subscriptionLogs"></pre>
		</div>
	</div>
</div>